*{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    background-color: #020A18;
}
$font-main: 'Open Sans', sans-serif;
$font-footer: 'Roboto';
$bc: #09101e;
.container {
    margin: 0 auto;
    max-width: 1146px;
}
.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-link {
    padding: 3%;
    display: block;
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}
.header-link:hover {
    background-color: #3A68B8;
    border-radius: 5px; 
}
.main {
    margin-top: 160px;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.next {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    font-family: $font-main;
    text-transform: uppercase;
    color: #3A68B8;
}
.main-headding {
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-width: 604px;
}
.main-dsc {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #ccc;
    margin-top: 40px;
    max-width: 558px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.get {
    background: #3A68B8;
    border-radius: 5px;
    margin-right: 20px;
}
.button-txt-flex {
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    font-family: $font-main;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px;  
}
.watch {
    background: #3A68B8;
    border-radius: 5px;
    display: flex;
    align-items: center; 
}
.watch-txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    font-family: $font-main;
    color: #fff;
    margin-left: 10px;
}
.button-flex {
    display: flex;
}
.button-txt {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    font-family: $font-main;
    color: #fff;
    display: flex;
    align-items: center;
}
.get:hover, .watch:hover {
    outline: 4px solid #fff;
}
.footer {
    min-height: 250px;
    margin-top: 200px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.apply {
    margin-top: 160px;
}
.flex-apply {
    display: flex;
    justify-content: space-between;
}
.apply-heading {
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-width: 604px;
}
.apply-dsc {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #ccc;
    margin-top: 40px;
    max-width: 558px;
    margin-bottom: 50px;
    font-family: $font-main;
}
.learn {
    background: #3A68B8;
    border-radius: 5px;
}
.learn-more {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    font-family: $font-main;
    color: #fff;
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns:repeat(3, 30%);
    grid-template-rows:repeat(3, 358px);
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}

.perspective-txt {
    justify-content: center;
    justify-items: center;
}
.value_large {
    grid-row: 2/4;
    grid-column: 1/3;
    justify-content: center;
    justify-items: center;
}
.value_small {
    justify-content: center;
    justify-items: center;
}


// .perspective {
//     margin-top: 265px;
// }
// .flex-perspective {
//     display: flex;
//     justify-content: space-between;
// }
// .perspective-txt {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }
.wellcome {
    max-Width: 98px;
    Height: 103px;
}
.perspective-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    max-Width: 302px;
}
.perspective-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    max-Width: 302px;
}
.value {
    margin-top: 30px;
}
// .flex-value {
//     display: flex;
//     justify-content: space-between;
// }
// .value_large {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }
// .value_small {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

.wellcome-large {
    max-Width: 306px;
    Height: 322px;
}
.wellcome-small {
    max-Width: 98px;
    Height: 103px;
}
.heading-small {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    max-Width: 302px;
}
.small-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    max-Width: 302px;
}
.large-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    max-Width: 694px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.large-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    max-Width: 694px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.awesome {
    margin-top: 240px;
    padding-bottom: 100px;
}
.flex-awesome {
    display: flex;
    justify-content: space-between;
}
.awesome-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 548px;
}
.awesom-dsc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 20px;
    max-width: 460px;
}
.awesome-pic {
    max-width: 573px;
    height: 492px;
}
.endpage {
    margin-top: 220px;
    background-color: #070f1d;
}
.endpage-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 25px;
}
.footer-header {
    font-family: $font-footer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 33px;
}
.inform {
    font-family: $font-footer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.endpage-text {
    font-family: $font-footer;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    max-width: 261px;
}
.footer-links {
    font-family: $font-footer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
@media (min-width: 376px) and (max-width: 1024px) {
    *{
        padding: 3% 2% 0;
    }
    .flex-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-pic {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 128px;
      }
    .main-img {
        width: 75%;
      }
    .footer-flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .flex-apply {
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 415px);
        justify-content: center;
        justify-items: center;

    }

    .value_large {
        display: none;
      }
    .value_small {
        display: none;
      }
    // .flex-perspective {
    //     flex-wrap: wrap;
    //     flex-direction: column;
    //     justify-content: center;
    //     gap: 30px;
    //   }
    .awesome-heading{
        display: flex;
        justify-content: center;
    }
    .awesom-dsc{
        display: flex;
        justify-content: center;
    }
    .awesome-pic {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 65px;
    }
    .awe-pic {
        width: 75vw;
        height: 75vw;
    }
    .flex-awesome {
        flex-wrap: wrap;
        justify-content: center;
    }
    .endpage-flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 74px;
    }
}
@media (max-width: 375px) {
    *{
        padding: 3% 2% 0;
    }
    .flex-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-txt {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .next {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-link {
        font-size: 14px;
        line-height: 19px;
    }
    .next {
        font-size: 14px;
        text-align: center;
    }
    .main-headding {
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
    .main-dsc {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .main-pic {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 128px;
    }
    .main-img {
        width: 100%;
    }
    .get {
        margin-bottom: 3%;
        margin-right: 0;
    }
    .button-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-txt-flex {
        padding: 20px;
    }
    .flex-apply {
        font-size: 25px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    .apply-heading {
        font-size: 25px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    .footer-flex {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .footer-pic {
        width: 100vw;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 415px);
        justify-content: center;
        justify-items: center;
    }

    .value_large {
        display: none;
      }
    .value_small {
        display: none;
    }
    // .flex-perspective {
    //     flex-wrap: wrap;
    //     flex-direction: column;
    //     justify-content: center;
    //     gap: 30px;
    // }
    .awesome-heading {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .flex-awesome {
        flex-wrap: wrap;
        justify-content: center;
    }
    .awesome-pic {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 65px;
    }
    .awe-pic {
        width: 75vw;
        height: 75vw;
    }
    .endpage-flex {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}